/* App.css */

.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-icon-dark {
  color: rgb(220, 208, 216);
  font-weight: bold;
  text-align: center;
  font-size: 10px;
}

.custom-icon-light {
  color: rgb(38, 38, 38);
  font-weight: bold;
  text-align: center;
  font-size: 10px;
}

.menu-dark {
  position: relative;
  color: rgb(255, 255, 255);
  background: rgb(38, 38, 38);
  padding: 20px 20px 10px;
  font-weight: bold;
  text-align: center;
  font-size: 12px;
  width: 100%;
  text-justify: auto;
}

.menu-light {
  position: relative;
  color: rgb(38, 38, 38);
  background: rgb(212, 218, 220);
  padding: 20px 20px 10px;
  font-weight: bold;
  text-align: center;
  font-size: 12px;
  width: 100%;
  text-justify: auto;
}

.theme-toggle-button {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1000;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.info-button {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1000;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.tooltip {
  visibility: hidden;
  width: 500px; /* Adjust the width as needed */
  background-color: #fdcb50; /* Tooltip background color */
  color: #262626; /* Text color */
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  top: -5px; /* Place tooltip in the middle of its container element */
  left: 105%; /* Position it to the right of the button */
  /* margin-left: -60px; Center the tooltip */
  opacity: 0; /* Make it invisible */
  transition: opacity 0.3s; /* Fade effect */
}

/* Show the tooltip when hovering over the button */
.info-button:hover .tooltip {
  visibility: visible;
  opacity: 1; /* Make it visible */
}

/* Create the arrow */
.tooltip::after {
  content: "";
  position: absolute;
  /* top: 50%; Center vertically */
  right: 100%; /* Position it at the right side of the tooltip */
  margin-top: -5px; /* Adjust to center the arrow */
  border-width: 5px; /* Arrow size */
  border-style: solid;
  border-color: transparent #fdcb50 transparent transparent; /* Triangle pointing to the left */
}
